.container {
  margin: 3em;
}

body {
  background-color: #f3f5d2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
nav .nav__right ul li {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  margin: 1em;
}
nav .nav__right ul li a {
  text-decoration: none;
  color: #000;
  padding: 2em 1em;
  border-radius: 5px;
}
nav .nav__right ul li :hover {
  background-color: #94d961;
}

.introduction {
  background-image: url("../images.green/planted-forest.jpeg");
  display: flex;
  height: 100vh;
}
.introduction p {
  color: #fff;
}

.plastic__images1 {
  display: flex;
}
.plastic__images1 img {
  gap: 1em;
}

.water__images {
  display: flex;
}

footer {
  background-color: #94d961;
}
footer .footer__container {
  display: flex;
  justify-content: space-around;
}
footer .footer__left {
  padding: 2em;
}
footer .footer__center ul li {
  list-style-type: none;
}
footer .footer__center ul li a {
  text-decoration: none;
  color: #000;
}
footer .footer__subscription {
  display: flex;
}
footer .footer__input {
  display: flex;
  padding: 2em 3em;
  border: none;
  outline: none;
}
footer .subscribe__button {
  padding: 2em 1em;
  background-color: #000;
  color: #E4EEF8;
  border: none;
}

body {
  background-color: #ced195;
}

.water__service {
  display: flex;
  box-shadow: solid, 5px, lightgrey;
}

.employ__service {
  display: flex;
}

.plastic__service {
  display: flex;
}

.desert {
  display: flex;
}

p {
  font-size: 2em;
}

.desertification__products {
  display: flex;
  width: 100%;
}

.desertification__image1 {
  width: 25%;
  margin: 2em;
  border: 2px solid #94d961;
}

.desertification__image2 {
  width: 22%;
  margin: 2em;
  border: 2px solid #94d961;
}

.desertification__image3 {
  width: 20%;
  margin: 2em;
  border: 2px solid #94d961;
}

.desertification__image4 {
  width: 20%;
  margin: 2em;
  border: 2px solid #94d961;
}

.pic {
  width: 100%;
  justify-content: center;
}