body {
  background-color: #ced195;
}

.water__service {
  display: flex;
  box-shadow: solid, 5px, lightgrey;
}

.employ__service {
  display: flex;
}

.plastic__service {
  display: flex;
}

.desert {
  display: flex;
}

p {
  font-size: 1em;
}

.section__about {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images.green/forest.jpg");
  height: 60vh;
  color: whitesmoke;
}