@use "./utilities/mixins";
@use "./utilities/variables";

body {
  background-color: #ced195;
}
.water__service {
  display: flex;
  box-shadow: solid,5px,lightgrey;
  
}
.employ__service{
display: flex;
}
.plastic__service{
display: flex;
}
.desert{
    display: flex;
}
p{
    font-size: 2em;
}
// .b-image{
  // border: 5px solid white;
  // border-radius: 50%;
// }
@media screen and ()
  

