@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.desertification__products {
  display: flex;
  width: 100%;
}

.desertification__products img {
  border-radius: 5%;
}

.desertification__image {
  width: 25%;
  margin: 1em;
  border: 2px solid $green;
  border-radius: 5%;
  background-color: $green;
  // gap: 2em;
}

.pic {
  width: 100%;
  justify-content: center;
}

.gray {
  color: gray;
}

.Similar__btn {
  padding: 1.5em 3em;
  margin: 1em 2em;
  border: none;
  border-radius: 10%;
  background-color: $cream2;
  color: $green;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.add__btn {
  padding: 1.5em 3em;
  margin: 1em 2em;
  border: none;
  border-radius: 10%;
  background-color: $cream2;
  color: $green;
  align-items: center;
  justify-content: center;
}

.plastic__products {
  display: flex;
  width: 100%;
}

.shp__image {
  height: 200px;
}

.shp__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.water__products {
  display: flex;
  width: 100%;
}

.water__content1 {
  display: flex;
  width: 100%;
}

@media screen and(max-width:815px) {
}
