@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;


// /hero

.introduction {
    background-image: url("../images.green/planted-forest.jpeg");
    display: flex;
    height: 100vh;
  
    p {
      color: #fff;
      font-size: 2rem;
    }
  }

  .desert__images{
    display:flex;
   
  
  }
  .desert__content{
    background-color: $green;
    margin: 1em;
    padding: 1em;
    border-radius: 10%;
  }
  
  .plastic__images1 {
    display: flex;
    img {
      gap: 1em;
    }
    .plastic__content {
      background-color: $green;
      margin: 2em;
      padding: 2em;
      border-radius: 10%;
    }
  
    .plastic__content img {
      border-radius: 10%;
    }
  }
  
  .water__content {
    background-color: $green;
    margin: 2em;
    border-radius: 10%;
    padding: 2em;
  }
  
  .water__content img{
    border-radius: 10%;
  }
  .water__images {
    display: flex;
  }
  
  .desert__images {
    width: 100%;
  }
  body {
    background-color: #ced195;
  }
  .water__service {
    display: flex;
  
    // box-shadow: solid, 5px, lightgrey
  }
  .employ__service {
    display: flex;
  }
  .plastic__service {
    display: flex;
  }
  .desert {
    display: flex;
  }

  @media screen and (max-width:815px){
    .hero{
      width: 100%;
      .introduction img{
        width: 100%;
        flex-wrap: wrap;
      }
      .introduction p{
        font-size: 1em;
        flex-wrap: wrap;
      }

    }
    .plastic__images1{
      display: flex;
      flex-direction: column;
    }
    .plastic__images1 p{
      flex-wrap: wrap;
      font-size: 01em;
    }
    .water__images{
      display: flex;
      flex-direction: column;
    }
    .water__images p{
      font-size: 1em;
      flex-wrap: wrap;
    }
  }