@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.service {
  @include flex(space-between, center);
  background-color: red;
  .b-image img{
    padding-right:45%;
    border-radius:30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

.desert {
  @include flex(space-between, center);
}

p {
  font-size: 1em;
}
.text {
  padding-left: 10%;
}

